{% extends 'app_mailing/base.html' %}

{% block content %}
    <div class="col-12">
        <form class="form-signin" method="post">

            <div class="card mx-auto" style="width: 50%;">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ title }}
                    </h3>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success d-block mx-auto">Сменить пароль</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}