{% extends 'app_mailing/base.html' %}

{% load users_tags %}

{% block content %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Пользователь номер: {{ object.id }}</h4>
            </div>
            <div class="card-body">
                <img src="{% media_tag object.avatar %}" class="img-fluid rounded-start" alt="Image" style="width: 25%;">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Имя пользователя: {{ object.first_name|default:"не указано" }}</li>
                    <li>Фамилия пользователя: {{ object.last_name|default:"не указана" }}</li>
                    <li>Почта пользователя: {{ object.email|default:"не указана" }}</li>
                    <li>Телефон пользователя: {{ object.phone|default:"не указан" }}</li>
                </ul>
                <div class="btn-group">
                    {% if perms.users.set_is_activated %}
                        <a href="{% url 'users:user_custom_update' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-primary">Редактировать</a>
                        <a href="{% url 'users:user_list' %}" type="button"
                       class="btn btn-sm btn-outline-primary">К списку</a>
                    {% else %}
                    <a href="{% url 'users:user_delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-primary">Удалить</a>
                    <a href="{% url 'users:user_update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-primary">Редактировать</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}