{% extends 'app_mailing/base.html' %}

{% block content %}


<div class="container">
    {% for object in object_list %}
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рассылка номер: {{ object.id }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Периодичность рассылки: {{ object.frequency }}</li>
                    <li>Статус рассылки: {{ object.status }}</li>
                    <li>Время начала рассылки: {{ object.start }}</li>
                    <li>Время завершения рассылки: {{ object.finish }}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}