{% extends 'app_mailing/base.html' %}

{% block content %}

<div class="container">
    {% if user.is_superuser or not user.groups.exists %}
        <a href="{% url 'app_mailing:mailings_create' %}" class="btn btn-primary">Добавить рассылку</a>
    {% endif %}
</div>

<div class="container">
    {% for object in object_list %}
        {% if user == object.owner or perms.app_mailing.view_mailingsrv %}
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <div class="d-flex justify-content-end mt-auto">
                    <ol class="list-group list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                {% if object.is_activated %}
                                <small class="text-body-secondary activated" style="color: green;">активна</small>
                                {% else %}
                                <small class="text-body-secondary" style="color: red;">заблокирована</small>
                                {% endif %}
                            </div>
                        </li>
                    </ol>
                </div>
                    <h4 class="my-0 font-weight-normal">Рассылка номер: {{ object.id }}</h4>
                </div>
                <div class="card-body">
                    <details>
                        <summary>Посмотреть</summary>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Периодичность рассылки: {{ object.frequency }}</li>
                            <li>Время начала рассылки: {{ object.start }}</li>
                            <li>Время завершения рассылки: {{ object.finish }}</li>
                            <li>Статус рассылки: {{ object.status }}</li>
                        </ul>
                    </details>

                    <div class="btn-group">
                        <a href="{% url 'app_mailing:mailings_detail' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-primary">Подробности</a>
                        {% if user.is_superuser or not user.groups.exists %}
                        {% if object.is_activated %}
                        <form action="{% url 'app_mailing:send_mailing_btn' object.pk %}" method="post">
                        {%csrf_token%}
                            <button class="btn btn-success" type="submit">Выполнить</button>
                        </form>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}