{% extends 'app_mailing/base.html' %}

{% block content %}

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Письмо номер: {{ object.id }}</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Тема письма: {{ object.subject }}</li>
                    <li>Содержимое письма: {{ object.content }}</li>
                </ul>
                <div class="btn-group">
                    <a href="{% url 'app_mailing:mail_delete' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-primary">Удалить</a>
                    <a href="{% url 'app_mailing:mail_update' object.pk %}" type="button"
                       class="btn btn-sm btn-outline-primary">Редактировать</a>
                    <a href="{% url 'app_mailing:mail_list' %}" type="button"
                       class="btn btn-sm btn-outline-primary">К списку</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}