{% extends 'app_mailing/base.html' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <p>Вы действительно хотите удалить запись "{{ object.title }}" ?</p>
                                   <button type="submit" class="btn btn-danger">Подтвердить</button>
                                <a href="{% url 'app_blog:post_view' object.pk %}" class="btn btn-sm btn-outline-primary">Назад</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}